*{
    margin: 0;
    font-family:"Segoe UI", Arial, sans-serif;
}

.icons{
    position: absolute;
    top: 25px;
    right: 20px;
}

.icon{
    position: relative;
    right: 20px;
    display: inline-block;
    margin-left: 25px;
}

img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

header{
    background-color: #0077cc;
    color: #fff;
    padding: 25px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

h1{
    display: inline-block;
    margin: 0;
    letter-spacing: 1px;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    font-size: 35.2px;
}

p{
    margin-bottom: 20px;
    background-color: white;
    padding: 15px;
}

.count{
    position: absolute;
    background-color: red;
    border: none;
    border-radius: 90px;
    padding: 2px 7px;
    top: -10px;
    right: -10px;
    font-size: 12px;
}

main{
    line-height: 1.7;
    padding: 30px;
    text-align: justify;
}

.message{
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #0077cc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    cursor: pointer;
}

.message > img{
    filter: invert(1);
    margin-top: 15px;
    width: 30px;
    height: 30px;
}

.message:hover{
    background-color: #0077cce7;
}
